################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################


/AnaphaseTeam/AnaphaseTeam.sdf
/AnaphaseTeam/AnaphaseTeam.VC.opendb
/AnaphaseTeam/AnaphaseTeam/x64/Debug/AnaphaseTeam.tlog
/AnaphaseTeam/AnaphaseTeam/x64/Debug
/AnaphaseTeam/.vs/AnaphaseTeam/v14/.suo
/AnaphaseTeam/AnaphaseTeam.vcxproj